html{
    font-size: 20px;
    font-family: 'Pratendard';
    font-weight: 400;
}
.abo{
    font-family: 'abo';
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 160px;
}
.menu figure{
    line-height: 0;
}
ul{
    /* border: 1px solid red; */
    display: flex;
    width: 866px;
}
ul li{
    border: 1px solid blue;
    flex:1;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}



.banner{
    height: 700px;
    background: url(../img/a3617562ae2b735376bdc4f6021710d549df4d79.jpg) no-repeat 50% 50% /cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    color: #fff;
    font-size: 7.5rem;
    line-height: 1;
}