.aboreto{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
}
html{
    font-size: 20px;
    font-family: 'Pretendard';
    font-weight: 400;
}
.wrap{
    background: url(../img/bg.svg) no-repeat 50% 50%;
}
.content{
    width: 1600px;
    height: 2327px;
    margin: 0 auto;
    padding: 6rem 0;
}
.banner{
    background: url(../img/adb2968ec7a931b51bc30a08b2ab46a3d26b1388\ \(1\).jpg) no-repeat 50% 50% / cover;
    height: 599px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;
    margin-bottom: 6rem;
}
.banner h1{
    font-size: 2.5rem;
    line-height: 1;
    color: #fff;
}
.content h2{
    font-size: 7.5rem;
    line-height: 0.9;
    margin-bottom: 48px;
}
h2+p{
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.banner-1{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.banner-1 figure{
    flex: 1;
    aspect-ratio: 520/434;
}
.banner-1 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.content h3{
    line-height: 1.4;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.content h3+p{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.banner-2{
    display: flex;
    gap: 1rem;
}
.banner-2 figure{
    flex: 1;
    aspect-ratio: 790/434;
}
.banner-2 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}