html{
    font-size: 20px;
}
.aboreto{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
}
section{
    background: url(../img/image.png) no-repeat 50% 50% / cover;
}
.wrap{
    width: 1600px;
    margin: 0 auto;
}
.main-banner{
    background: url(../img/adb2968ec7a931b51bc30a08b2ab46a3d26b1388\ \(1\).jpg) no-repeat 50% 50%;
    height: 599px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
.main-banner h1{
    font-size: 2.5rem;
    color: #fff;
    line-height: 1;
}
.wrap h2{
    font-size: 7.5rem;
    line-height: 0.9;
    text-transform: uppercase; 
    margin-bottom: 48px;
}
h2+p{
    font-size: 1rem;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.banner-1{
    display: flex;
    justify-content: space-between;
}
.banner-1 img{
    width: 520px;
    height: 434px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 40px;
}
.wrap h3{
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 20px;
}
.wrap h3+p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.banner-2{
    display: flex;
    justify-content: space-between;
}
.banner-2 img{
    width: 790px;
    height: 434px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 119px;
}