html{
    font-size: 20px;
    font-weight: 400;
}
.wrap{
    width: 1440px;
    margin: 75px auto 0;
}
.wrap h1{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    padding: 1rem 0;
    text-align: center;
}
.wrap p{
    line-h eight: 1.4;
    text-align: center;
}
.bannner{
    margin: 5rem 0 ;
    height: 441px;
    background: url(../img/5d106bfeedc73ee72734dc3aeb348f9c8f2b4490.jpg) no-repeat 50% 50% / cover;
}
.list{
    text-align: center;
}
.list h2{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.5rem 0;
}
.list li{
    padding-bottom: 0.5rem;
}
.list li:last-of-type{
    padding-bottom: 0;
}