.a{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
.a:hover{
    background-color: blue;
    width: 500px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a:active{
    width: 500px;
    height: 700px;
    font-size: 5rem;
    background: url(../../ch03-image-video/img/cat1400.jpg) no-repeat 50% 50% / cover;
}


.b{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: 1s;
}
.b:active{
    background-color: #000;
    color: #fff;
}

.box{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
}
.c{
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}
.box .c:hover{
    /* box 클래스 안의 c클래스에 마우스를 올리면 */
    font-size: 2rem;
}
.box:hover .c{
    /* 마우스가 올려진 box클래스 안의 c클래스를 선택 */
    background-color: gold;
}

.d:before{
    content: "추가된 내용1";
    border: 1px solid red;
    width: 200px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* 항상 before로 들어간 컨텐츠는 선택자의 첫번째 자식으로 들어간다. */
}
.d:after{
    content: "추가된 내용2";
    border: 1px solid red;
    display: block;
    width: 100px;
    height: 100px;
}