.aboreto{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
}
html{
    font-size: 20px;
    font-family: 'Pretendard', sans-serif;
}
body{
    background: url(../img/BACKGROUND.png) no-repeat 50% 721px;
}
.main-banner{
    background: url(../img/bannerbg.png) no-repeat 50% 80% / 100% auto;
    height: 599px;
    /* border-radius: 150px; */
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-banner h1{
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    line-height: 1;
}
.content{
    width: 1600px;
    margin: 0 auto;
}
.content h2{
    padding-top: 10rem;
    font-size: 7.5rem ;
    text-align: center;
    background: url(../img/Vector\ 1.svg) no-repeat 50% 0%;
    line-height: 0.9;
    text-transform: uppercase; 
    margin-bottom: 2rem;
}
.content p:nth-of-type(1){
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 5rem; 
}
.content p span{
    color: #770000;
}
.content-banner{
    display: flex;
    justify-content: space-between;
}
.content-banner img{
    object-fit: cover;
    width: 790px;
    height: 434px;
    border-radius: 20px;
    margin-bottom: 2.5rem;
}
.content h3{
    font-size: 2rem;
    line-height: 1.4;
    text-transform: lowercase;
    margin-bottom: 1rem;
}
.content h3 span{
    color:#770000;
}
h3+p b{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
}
h3+p{
    text-transform: lowercase;
    margin-bottom: 0.5rem;
}
h3+p+p{
    font-weight: 400;
    line-height: 1.4;
    text-transform: lowercase;
}
h3+p+p b{
    font-weight: 700;
}