html{
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.banner {
    height: 599px;
    background: url(../img/bannerbg.png) no-repeat 50% 80% / cover;
    border-radius: 0px 0px 150px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
}
.aboreto{  
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}
.common-frame{
    width: 1600px;
    margin: 0 auto;
}
h2.deco-title{
    font-size: 7.5rem;
    line-height: 0.9;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10rem;
    background: url(../img/Vector\ 1.svg) no-repeat 50% 0%;
    margin-bottom: 2rem;
}
.desc1{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 5rem;
}
.desc1 em{
    color: #770000;
    font-style: inherit;
}
body{
    background: url(../img/BACKGROUND.png) repeat-x 0% 721px ;
}
.cafe-gal{
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
}
.cafe-gal figure{
    flex: 1;
    aspect-ratio: 790/434;
    line-height: 0;
}
.cafe-gal figure img{
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.common-frame h3{
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}
.common-frame h3 em{
    font-style: inherit;
    color: #770000;
}
.common-frame h3+p{
    margin-bottom: 0.5rem;

}
.common-frame strong{
    font-weight: 600;
}