*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,b{
    font-size: inherit;
    font-weight: inherit;
}
html{
    font-family: 'Pretendard';
    font-size: 20px;
}
.main-banner{
    background: url(../img/7247350364b9abd890d544b50b85e6093c349f17.png) no-repeat 50% 50% / cover;
    box-sizing: border-box;
    height: 599px;
    padding: 13.5rem 0 0; 
    margin-bottom: 6rem;
}
.main-banner h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
.main-content{
    width: 1600px;
    margin: 0 auto;
}
.main-content h2{
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    line-height: 0.9;
    font-size: 4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}
.line-p{
    text-align: right;
    line-height: 1.4;
    text-transform: uppercase;
    border-top: 1px solid black;
    padding: 1rem 0;
    margin-bottom: 3rem;
}
img{
    width: 1000px;
    height: 430px;
    text-align: left;
    background: white 0% 0% / 100% 3rem;
    object-fit: cover;
}
p.last{
    margin-top: 1rem;
    line-height: 1.4;
    text-transform: lowercase;
}
b{
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.4;
    text-transform: lowercase;
}
 