*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
} 
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
.banner-main{
    box-sizing: border-box;
    height: 599px;
    background: url(../img/7247350364b9abd890d544b50b85e6093c349f17.png) no-repeat 50% 50% / cover;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding: 270px 0 271px;
}
.content{
    width: 1600px;
    margin: 120px auto 0;
}
.content h1{
    font-family: "Aboreto", system-ui;
    font-weight: 400; 
    font-size: 80px;
    line-height: 0.9;
    margin-bottom: 80px;
}
.content .line{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: right;
    padding: 20px 0;
    border-top: 1px solid black;
    margin-bottom: 60px;
}
.banner-content{
    background: url(../img/54883f34e33cf27f09830186e832392166a79062.jpg) no-repeat 0% 50% / cover;
    height: 430px;
    width: 1000px;
    margin-bottom: 20px;
}
.p{
    font-family: 'Pretendard';
    font-weight: 400;
    line-height: 1.4;
    font-size: 20px;
}
.p b{
    font-style: normal;
    font-family: 'Pretendard';
    font-weight: 800;
    font-size: 20px;
}