html{
    font-size: 20px;
    font-family: "Pretendard";
    font-weight: 400;
}
.pf{
    font-family: "abo";
}
.content-1{
    width: 1600px;
    text-align: center;
    margin: 8rem auto 0;
}
.content-1 h1{
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1rem;
}
.content-1 p{
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.content-2{
    background: url(../img/1.jpg) no-repeat 50% 50% / cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.content-2 h2{
    width: 1600px;
    font-size: 7.5rem;
    color: #fff;
    line-height: 0.9;
}
.content-3{
    width: 1600px;
    margin: 0 auto;
}
.content{
    text-align: center;
}
.content h3{
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}
.content p{
    line-height: 1.4;
    margin-bottom: 2.5rem;
}
.content-3 ul{
    display: flex;
    gap: 1rem;
}
ul li{
    flex: 1;
}
figure{
    aspect-ratio: 1;
    line-height: 0;
}
figure img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
dl dt{
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
    margin: 1rem 0 0.5rem;
}
dl dd{
    line-height: 1.4;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}