html{
    font-size: 20px;
    font-family: 'Pretendard' , sans-serif;
    font-weight: 400;
}
.aboreto{  
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}
.content-1{
    margin: 0 auto;
    width: 1600px;
    height: 218px;
    margin-bottom: 5rem;
}
.content-1 h1{
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    padding-top: 8rem;
}
.content-1 p{
    margin-top: 1rem;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
}
.content-2{
    height: 700px;
    background: url(../img/1.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 5rem;
}
.content-2 h2{
    font-weight: 400;
    font-size: 7.5rem;
    line-height: 0.9;
    text-transform: uppercase;
    padding-left: 8rem;
    padding-top: 295px;
    color: #fff;
}
.content-3{
    width: 1604px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6rem;
}
.content-3 h3{
    font-size: 2rem;
    line-height: 1.4;
    text-transform: lowercase;
}
.content-3 p{
    margin-top: 1rem;
    line-height: 1.4 ;
}
.content-3 ul{
    display: flex; 
    width: 1604px;
    margin-top: 3.5rem;
    gap: 1rem;

}
.content-3 li{
    aspect-ratio: 1;
    flex: 1;
}
.content-3 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
li>p:nth-of-type(1){
    width: 100%;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
    line-height: 1.4;
}
li>p:nth-of-type(2){
    width: 100%;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
	display: -webkit-box;         
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;        
	overflow: hidden;            
	text-overflow: ellipsis;  
    word-break: break-all;   
}
