.aboreto{  
    font-family: "Aboreto", system-ui;
    font-weight: 400;
}
html{
    font-size: 20px;
    font-weight: 400;
}
.content-1{
    width: 1600px;
    margin: 0 auto;
    padding-top: 8rem;
    text-align: center;
}
.content-1 h1{
    line-height: 1;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.content-1 p{
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.content-2{
    background: url(../img/1.jpg) no-repeat 50% 50% / cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.content-2 h2{
    width: 1600px;
    color: #fff;
    font-size: 8rem;
    line-height: 0.9; 
}
.content-3{
    width: 1604px;
    margin: 0 auto;
}
.content-3 h3{
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}
.content-3 h3+p{
    text-align: center;
    line-height: 1.4;
    margin-bottom: 3.5rem;
}
.img ul{
    width: 1604px;
    display: flex;
    gap: 1rem;
}
.img ul li{
    aspect-ratio: 1;
    line-height: 0;
    flex:1;
}
.img img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}
.img strong{
    width: 100%;
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}
.img p{
    width: 100%;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
	display: -webkit-box;         
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;        
	overflow: hidden;            
	text-overflow: ellipsis;  
    word-break: break-all;   
}