.aboreto{  
    font-family: "Aboreto", system-ui;
    font-weight: 400;
}
html{
    font-size: 20px;
    font-weight: 400;
}
.content-1{
    width: 1600px;
    margin: 0 auto;
    padding-top: 8rem;
    text-align: center;
}
.content-1 h1{
    line-height: 1;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.content-1 p{
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.content-2{
    background: url(../img/1.jpg) no-repeat 50% 50% / cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.content-2 h2{
    width: 1600px;
    color: #fff;
    font-size: 8rem;
    line-height: 0.9; 
}
.content-3{
    width: 1604px;
    margin: 0 auto;
}
.content-3 h3{
    text-align: center;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}
.content-3 h3+p{
    text-align: center;
    line-height: 1.4;
    margin-bottom: 3.5rem;
}
.content-3 ul{
    border: 1px solid red;
    display: flex;
    width: 100%;
    max-width: 100%;
    gap: 1rem;    
}
.content-3 li{
    border: 1px solid red;
    aspect-ratio: 1;
    flex: 1;
    line-height: 0;
}
.content-3 img{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.content-3 div{
    border: 1px solid red;
    padding-top: 1rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: capitalize;
}
.content-3 li p{
    border: 1px solid red;
    font-weight: 400;
    -webkit-box-orient: vertical;
	-webkit-line-clamp: 2;        
	overflow: hidden;            
	text-overflow: ellipsis;  
    word-break: break-all;       
    line-height: 1.4;
}
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;        
	overflow: hidden;            
	text-overflow: ellipsis;  
    word-break: break-all;   