*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
#wrap{
    padding: 5px;
}
.banner{
    height: 600px;
    background: url(../img/image.png) no-repeat 50% 50% / 100% auto;
    margin-bottom: 10px;
}
.banner h1{
    font-size: 30px;
    color: white;
    text-align: calc(0+100px);
}
.banner p{
    color: orange;
}
.main{
    border: 1px solid black;
}
.main .a{
    background: black;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.content1{
    border-bottom: 1px solid black;
}
.content{
    text-align: center;
}
.main h2{
    font-size: 30px;
    color: red;
    padding: 20px 0;
}
.main span{
    color: blue;
}
.main p{
    font-size: 20px;
    padding: 20px 0;
}
.content2{
    border-bottom: 1px solid black;
}
address{
    font-style: normal;
}