*{
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}
.big{
    border: 10px solid red;
    margin: 50px;
    padding: 50px;
}
.middle{
    border: 5px solid blue;
    margin: 30px;
    padding: 30px;
}
.small{
    border: 1px solid yellow;
    margin: 10px;
    padding: 10px;
}