*{
    padding: 0;
    margin: 0;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}

.box1{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 20px;
}
.box{background-color: gray}
.box1 div{
    width: 100px;
    padding: 10px;
}


.box2{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 20px;
}
.box2 div{
    width: 100px;
    padding: 10px;
}
.box2 .a{order: 2;}
.box2 .b{order: 4;}
.box2 .c{order: 1;}
.box2 .d{order: 5;}
.box2 .e{order: 3;}

.box3{
    display: flex;
    width: 800px;
    height: 100px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    margin-bottom: 20px;
}
.box3 div{
    width: 100px;
    padding: 10px;
}

.box4{
    display: flex;
    width: 800px;
    height: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.box4 div{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.box5{
    display: flex;
    width: 800px;
    height: 300px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}
.box5 div{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.box6{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 300px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.box6 div{
    width: 400px;
}


.box7{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.box7 div{
    width: 100px;
    height: 100px;
}

.box8{
    width: 800px;
    height: 300px;
    display: flex;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    justify-content: space-between;
    margin-bottom: 20px;
}

.box8 div{
    width: 100px;
    height: 100px;
}
.box8 section{
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
}

.box8 section:nth-of-type(2){
    flex-direction: row-reverse;
}

.box9{
    width: 800px;
    height: 300px;
    display: flex;
    margin-bottom: 20px;
}
.box9-1{
    width: 500px;
    display: flex;
}
.box9-1 div{
    flex-grow: 1;
}
.box9-2{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.box9-2 div{
    flex-grow: 1;
}

.box10{
    display: flex;
    width: 800px;
    height: 300px;
    margin-bottom: 20px;
}
.box10-1{
    width: 250px;
}
.box10-2{
    width: 300px;
}
.box10-3{
    width: 250px;
}
.box10-1 div{
    height: 300px;
}
.box10-3 div{
    height: 300px;
}
.box10-2-2{
    display: flex;
}
.box10-2-1 div{
    height: 100px;
}
.box10-2-2 div{
    flex: 1;
    height: 200px;
}

.box11{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.box11 section{
    width: 200px;
}
.box11-1 div{
    height: 100px;
}
.box11-2{
    display: flex;
}
.box11-2 div{
    width: 100px;
    height: 100px;
}
.box11-3 div{
    height: 300px;
}


.box12{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.box12 .e{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box12 section div{
    width: 100px;
    height: 100px;
}