*{
    padding: 0;
    margin: 0;
}
.a{background-color: red;}
.b{background-color: green;}
.c{background-color: blue;}
.d{background-color: gold;}
.e{background-color: pink;}

.box1{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 20px;
}
.box{background-color: gray}
.box1 div{
    width: 100px;
    padding: 10px;
}


.box2{
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 20px;
}
.box2 div{
    width: 100px;
    padding: 10px;
}
.box2 .a{order: 2;}
.box2 .b{order: 4;}
.box2 .c{order: 1;}
.box2 .d{order: 5;}
.box2 .e{order: 3;}

.box3{
    display: flex;
    width: 800px;
    height: 100px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    margin-bottom: 20px;
}
.box3 div{
    width: 100px;
    padding: 10px;
}

.box4{
    display: flex;
    width: 800px;
    height: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.box4 div{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.box5{
    display: flex;
    width: 800px;
    height: 300px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}
.box5 div{
    width: 100px;
    height: 100px;
    padding: 10px;
}

.box6{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 300px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.box6 div{
    width: 400px;
}


.box7{
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.box7 div{
    width: 100px;
    height: 100px;
}