html{
    font-size: 20px;
    font-family: 'Pretendard',sans-serif;
    font-weight: 400;
}
.stp{
    font-family: 'aboreto';
}
header{
    position: fixed;
    top: 0;
    border-bottom: 2px solid #BE0707;
    width: 100%;
}
.common-frame{
    margin: 0 auto;
    width: 1600px;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu-1 ul{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}
.menu-2 ul{
    display: flex;
    border: 1px solid red;
}
.menu-2 li a{
    width: 138px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    height: 963px;
    background: url(../img/bebbaa7230b9952d6a79aecd750de8d322879c12.jpg) no-repeat 50% 50% / cover;
}
.banner .title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner h1{
    font-size: 7rem;
    line-height: 0.9;
}
.nav{
    color: #fff;
    text-transform: uppercase;
}
.menu-1 li{
    font-size: 16px;
    line-height: 1;
    text-align: center;
    font-weight: 400;
}
.menu-2 li{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}